<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BIG-ASS MESSAGE</title>
    <style type="text/css">
      body {
        padding: 0;
        margin: 0;
        font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
        font-size: 13px;
        background: #eee;
        color: #333;
        padding: 50px;
      }
      #wrapper {
        width: 500px;
      }
      a {
        color: #003cff;
      }
      a:hover {
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div id="wrapper">
      <h1>Visit this url along with your message after the trailing slash to get your message.</h1>
      <p>Eg. <a href="http://bigassmessage.eu01.aws.af.cm//i love big ass's">http://bigassmessage.eu01.aws.af.cm//i love big ass's</a></p>
    </div>
  </body>
</html>